<body>
<div class="mb-5 mt-3 sticky-top search-box">
  <input
    class="form-control search-bar mt-3"
    type="text"
    id="search-box"
    onkeyup="sendData(this)"
    placeholder="Search"
  />
  <div class="result-box" role="combobox" id="searchResults">

  </div>
</div>
</body>

