<!-- <nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <b><a href="/clothing" class="navbar-brand mx-3"  style="color: #ff3434;">cLoThInG</a></b>
     <form class="d-flex" role="search">
      <input class="form-control search-bar" id="search-input" onkeyup="sendData(this)" type="text" placeholder="Search" aria-label="Search">
      
      </form> -->
  <!-- </div>
</nav> -->
<body>
<div class="mb-5 mt-3 sticky-top search-box">
  <input
    class="form-control search-bar mt-3"
    type="text"
    id="search-box"
    onkeyup="sendData(this)"
    placeholder="Search"
  />
  <div class="result-box" id="searchResults">

  </div>
</div>
</body>

